<!-- footer start -->
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title"> &copy; 2023 Weatherify. All Rights Reserved.</h5>
                        <p class="card-text">Created By Aayush Tiwari</p>
                        <a rel="noopener noreferrer" href="https://aayush682.github.io/MyPortfolio/"
                            target="_blank">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->